<app-ngo-child-slider></app-ngo-child-slider>
<app-qause-filter></app-qause-filter>
<app-qause-help></app-qause-help>
<app-volunteer-slider></app-volunteer-slider>
<app-qause-counter></app-qause-counter>
<app-ngo-slider></app-ngo-slider>
<app-ngo-services></app-ngo-services>
<app-volunteer-service></app-volunteer-service>
<!-- <app-ngo-stories></app-ngo-stories> -->
<app-media-coverage></app-media-coverage>
<app-passionguru></app-passionguru>
<app-associations></app-associations>
<app-testimonials></app-testimonials>
<app-events></app-events>


