<section class="passion-guru-wrap">
   <hr class="divider">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-md-5">
             <div class="passoin-guru-content">
                 <div class="passionguru-logo">
                 <img src="/assets/images/homepage/passion-guru-logo.png" class="img-fluid">
                </div>
                <h3>An initiative by Qause.</h3>
                <p>Dedicated to inspiring holistic learning 
                    in less privileged children through free 
                    passion-based classes online.</p>
                    <button class="know-more">Know More</button>
                    <div class="social-icon">
                       <a><i class="fa fa-instagram" aria-hidden="true"></i></a>
                       <a><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                       <a><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </div>
             </div>
          </div>
          <div class="col-md-7">
            <img src="/assets/images/homepage/passion-guru-img.png" class="img-fluid">
          </div>
       </div>
    </div>
 </section>
 <hr class="m-0">