.container-fluid {
    padding-left: 75px;
    padding-right: 75px;
  }
  .cont_Detail span,
  .common-header-nav {
    font-size: 18px;
    color: #272727;
    font-weight: 500;
    transition: 0.3s linear all;
  }
  .cont_Detail span:hover {
    color: #253dc0;
  }
  .ngosignuphead .navbar .signuplogo img {
    height: 50px;
    width: auto;
  }
  
  .strpblue {
    background: #253ebf;
    height: 4px;
    margin-top: 0px;
  }
  
  .strpyellow {
    background: #f5ad00;
    height: 5px;
    margin-top: 0px;
  }
  
  .signuplogo {
    min-width: 155px;
    max-width: 155px;
  }
  
  .headpropic {
    width: 35px;
    height: 35px;
    overflow: hidden;
    display: inline-block;
    background: #ccc;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: 2px;
  }
  
  .headpropic img {
    width: 100%;
    height: auto;
    object-fit: exact;
  }
  
  header {
    background: #eaeaea !important;
    padding: 10px 0px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid #f5ad00;
    width: 100%;
    top: 0;
    z-index: 10;
    position: sticky;
  }
  
  #signupnext > .cont_Detail {
    padding: 5px 16px;
  }
  
  .ngosignuphead .navbar {
    color: #555;
    padding: 0;
    border-radius: 0;
    border: none;
  }
  
  .ngosignuphead .nav-link,
  .cont_Detail a {
    color: #232323;
    margin-right: 0 !important;
  }
  
  .ngosignuphead .navbar img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    background: #fff;
  }
  
  .ngosignuphead .navbar .navbar-brand {
    color: #666;
    padding-left: 0;
    padding-right: 50px;
    font-size: 2.4rem;
  }
  
  .ngosignuphead .navbar .navbar-brand:hover,
  .ngosignuphead .navbar .navbar-brand:focus {
    color: #555;
  }
  
  .ngosignuphead .navbar .navbar-brand i {
    font-size: 2.5rem;
    margin-right: 5px;
  }
  
  .ngosignuphead .navbar .nav-item i {
    font-size: 1.8rem;
  }
  
  .ngosignuphead .navbar .nav-item span {
    position: relative;
    top: 3px;
  }
  
  .ngosignuphead .navbar .navbar-nav > a {
    color: #555;
    padding: 15px;
    font-size: 1.4rem;
  }
  
  .ngosignuphead .navbar .navbar-nav > a:hover,
  .ngosignuphead .navbar .navbar-nav > a:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
  }
  
  .ngosignuphead .navbar .navbar-nav > a > i {
    display: block;
    text-align: center;
  }
  
  .ngosignuphead .navbar .dropdown-item i {
    font-size: 1.6rem;
    min-width: 22px;
  }
  
  .ngosignuphead .navbar .dropdown-item .material-icons {
    font-size: 2.1rem;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
  }
  
  .ngosignuphead .navbar .nav-item.open > a,
  .ngosignuphead .navbar .nav-item.open > a:hover,
  .ngosignuphead .navbar .nav-item.open > a:focus {
    color: #777;
    background: none !important;
  }
  
  .ngosignuphead .navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    min-width: 30px;
  }
  
  .ngosignuphead .navbar .dropdown-menu a {
    color: #777 !important;
    padding: 8px 20px;
    line-height: normal;
    font-size: 1.5rem;
    font-weight: bold;
    -webkit-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
  }
  .ngosignuphead .navbar .dropdown-menu a:hover,
  .ngosignuphead .navbar .dropdown-menu a:focus {
    color: #f5ad00 !important;
    background: transparent !important;
  }
  
  .ngosignuphead .navbar .navbar-nav .active a,
  .ngosignuphead .navbar .navbar-nav .active a:hover,
  .ngosignuphead .navbar .navbar-nav .active a:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
    background: transparent !important;
  }
  
  .ngosignuphead .navbar .navbar-nav .user-action {
    padding: 9px 15px;
    font-size: 1.5rem;
  }
  
  .ngosignuphead .navbar .navbar-toggle {
    border-color: #fff;
  }
  
  .ngosignuphead .navbar .navbar-toggle .icon-bar {
    background: #fff;
  }
  
  .ngosignuphead .navbar .navbar-toggle:focus,
  .ngosignuphead .navbar .navbar-toggle:hover {
    background: transparent;
  }
  
  .ngosignuphead .navbar .navbar-nav .open .dropdown-menu {
    background: #faf7fd;
    border-radius: 1px;
    border-color: #faf7fd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  
  .ngosignuphead .navbar .divider {
    background-color: #e9ecef !important;
  }
  /* .language-dropdown{
    background: #8bb2fc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    color: #fbf3f1 !important;
  } */
  .dropdown-toggle::after {
    font-family: FontAwesome;
    border: 0;
    content: "\f107";
    color: #000;
    margin-left: 0;
    vertical-align: middle;
    font-size: 2.2rem;
    font-weight: 500;
  }
  
  @media (max-width: 1199px) {
    .ngosignuphead .navbar .navbar-nav > a > i {
      display: inline-block;
      text-align: left;
      min-width: 30px;
      position: relative;
      top: 4px;
    }
  
    .ngosignuphead .navbar .navbar-collapse {
      border: none;
      box-shadow: none;
      padding: 0;
    }
  
    .ngosignuphead .navbar .navbar-form {
      border: none;
      display: block;
      margin: 10px 0;
      padding: 0;
    }
  
    .ngosignuphead .navbar .navbar-nav {
      margin: 8px 0;
    }
    .ngosignuphead .navbar .navbar-toggle {
      margin-right: 0;
    }
  }
  .callIcon img {
    height: 20px;
  }
  
  .cont_Detail {
    margin-top: 5px;
    font-weight: bold;
  }
  
  .cont_Detail span {
    margin-right: 25px;
  }
  
  .dropdown-menu {
    right: 0px;
    top: 64px;
    left: auto;
  }
  
  @media (max-width: 1024px) {
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px;
    }
    .toggle-btn {
      background: none;
      font-size: 26px;
      outline: none;
      color: #253dc0;
      border: none;
    }
  }
  @media (max-width: 767px) {
    .cont_Detail span i {
      margin-right: 5px;
    }
  }
  .cont_Detail span,
  .common-header-nav {
    font-size: 16px;
  }
  .languageStyle {
    margin-right: 25px;
  }
  .languageStyle a:after {
    margin-left: 5px;
  }
  
  #menuToggle {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #1b34b8;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  