/* .step-1-wrap {
  background: url(/assets/images/ngo/step-1bg.png) no-repeat center right;
  background-size: contain;
} */
:host >>> .ui-fileupload-choose .ui-button-icon-left {
  position: static;
}
/* common styles */
.container-fluid {
  padding-left: 75px;
  padding-right: 75px;
}

.common-step-content-wrapper {
  max-width: 590px;
}

.step-listing {
  width: 40px;
  margin-right: 72px;
  margin-top: 69px;
}

.step-listing span {
  width: 40px;
  height: 40px;
  border: 2px solid #253dc0;
  position: relative;
  margin-bottom: 40px;
  border-radius: 50%;
  display: inline-block;
}

.step-listing span:last-child {
  margin-bottom: 0px;
  margin-right: 0px;
}

.step-listing span.active:before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 50%;
  background-color: #253dc0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.step-listing span:after {
  left: 0px;
  right: 0;
  margin: auto;
  content: "";
  height: 45px;
  width: 5px;
  background: #868686;
  display: block;
  bottom: -47px;
  position: absolute;
}

.step-listing span:last-child:after {
  content: none;
}

.common-step-wrapper {
  padding-top: 30px;
}

.form-wrapper {
  margin-top: 30px;
}

.form-wrapper h3 {
  font-size: 2.4rem;
  color: #011427;
  font-weight: 400;
}

.common-label {
  width: 100%;
  font-size: 2rem;
  color: #011427;
  font-weight: bold;
  margin-bottom: 10px;
}

:host>>>.ui-dropdown {
  border: 1px solid #aaaaaa !important;
  border-radius: 4px;
  height: 54px;
  font-size: 2rem;
  color: #21222b;
  padding: 0 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  line-height: 54px;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #aaaaaa;
}

:host>>>.ui-inputtext {
  font-size: 2rem;
}

:host>>>.ui-dropdown-panel .ui-dropdown-item {
  font-size: 1.7rem;
}

:host>>>.ui-dropdown .ui-dropdown-label {
  background: transparent;
}

:host>>>.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container {
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  height: auto;
  font-weight: bold;
  color: #21222b;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
}

:host>>>.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-input-token input {
  font-size: 1.7rem;
}

:host>>>.ui-chips>ul.ui-inputtext {
  width: 480px;
  border-radius: 0;
}

:host>>>.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight,
:host>>>.ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
  background-color: #eaeaea;
  color: #333;
}

:host>>>.ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
  color: #21222b;
  font-weight: bold;
}

.custom-select-step span.arrow-down {
  top: 16px;
  right: 15px;
}

.border-dashed {
  border: 1px dashed #7b7979 !important;
}

.arrow-submit:disabled {
  opacity: .5;
}

.arrow-submit {
  background: url(/assets/images/submit-btn.png)no-repeat;
  width: 66px;
  height: 66px;
  border: 0;
  opacity: 1;
  -webkit-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.arrow-submit:hover {
  background: url(/assets/images/submit-btn-hover.png)no-repeat;
}

.arrow-submit:disabled:hover {
  background: url(/assets/images/submit-btn.png)no-repeat;
}

.main-heading {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 478px;
  color: #011427;
}

.main-heading>span {
  font-size: 3rem;
  font-weight: 500;
}

sup {
  font-weight: bold;
}

.requiredFeilds {
  font-size: 2.2rem;
  font-weight: 500;
}

:host>>>.ui-dropdown .ui-dropdown-label {
  background: transparent;
}

:host>>>.ui-dropdown .ui-dropdown-label,
:host>>>.ui-dropdown-panel .ui-dropdown-item {
  color: #21222b;
  font-weight: bold;
  padding: 0;
}

:host>>>.ui-fluid .ui-autocomplete.ui-autocomplete-multiple.ui-autocomplete-dd .ui-autocomplete-multiple-container {
  width: 100%;
  position: relative;
  border-radius: 0;
}

:host>>>.ui-fluid .ui-autocomplete .ui-autocomplete-dropdown.ui-button {
  position: absolute;
  right: 0;
  background: #253dc0;
  border-color: #253dc0;
}

:host>>>.ui-button-icon-only .ui-button-icon-left {
  color: #fff;
  position: absolute;
}

:host>>>.ui-fileupload .ui-fileupload-buttonbar .ui-button {
  margin-right: 0;
  padding: 0;
}

:host>>>.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token,
:host>>>.ui-chips>ul.ui-inputtext .ui-chips-token {
  background: #eaeaea;
  color: #011427;
  font-weight: 500;
  border-radius: 0;
}

:host>>>.ui-chips-token .ui-chips-token-icon,
:host>>>.ui-autocomplete-token-icon {
  color: #4d4d4d;
  font-size: 1.2rem !important;
}

:host>>>.ui-chips>ul.ui-inputtext:not(.ui-state-disabled).ui-state-focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #aaaaaa;
}

:host>>>.ui-autocomplete-token-label {
  display: block;
  margin-right: 2em;
  font-size: 2rem;
  color: #21222b;
  font-weight: 500;
  padding: 0;
}

/* upload-photo-css-start-here */
.image-uploaded {
  display: inline-block;
}

:host>>>.ui-button {
  background: none;
  border: 0;
}

:host>>>.ui-button,
:host>>>.ui-fileupload-choose:not(.ui-state-disabled):hover {
  color: #484848;
}

:host>>>.ui-fileupload .ui-fileupload-buttonbar {
  border: 2px dashed #7b7979;
  background: #f5f6f7;
  border-radius: 0;
  height: 254px;
  max-width: 254px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host>>>.ui-fileupload .ui-fileupload-content {
  border: 0;
}

:host>>>.upload-photo .ui-button {
  background: none;
  border: 0;
  font-size: 1.6rem;
  color: #484848;
}

:host>>>.ui-fileupload-choose:not(.ui-state-disabled):active {
  border-color: none !important;
  background-color: none !important;
  color: #484848;
  font-size: 1.6rem;
  background: none !important;
}

:host>>>.ui-fileupload-choose:not(.ui-state-disabled):hover {
  background: none;
  border-color: 0;
  color: #333333;
}

:host>>>.ui-progressbar {
  background: none;
}

:host>>>.ui-fileupload-row>div,
:host>>>.upload-photo .ui-button {
  font-size: 1.2rem;
  padding: 0.5em 0.8em;
}

:host>>>.ui-fileupload-choose.ui-state-focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

:host>>>.ui-button.ui-button-text-icon-left .ui-button-text {
  color: #484848;
  font-weight: 500;
}

/*upload image popup */
.modal-dialog {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-title {
  font-size: 2.4rem;
  color: #011427;
  font-weight: 500;
}

.modal-footer .btn-box-shadow {
  background: #253dc0 !important;
  width: 100px;
  font-size: 1.4rem;
  color: #fff !important;
}

.modal-content {
  -webkit-box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(245 246 247 / 51%);
}

.upload-image-img {
  position: relative;
}

.upload-image-img span {
  margin-left: 0 !important;
}

:host>>>.ui-fileupload .ui-fileupload-content {
  background-color: transparent;
}

:host>>>.upload-image-edit-img .ng-star-inserted .image-uploaded .ui-fileupload .ui-fileupload-buttonbar {
  background-color: transparent;
  border: 0;
  padding: 0;
  display: block;
}

:host>>>.ng-star-inserted .image-uploaded .pi-plus:before {
  content: "\f040";
  font-family: FontAwesome;
  color: #fff;
  font-size: 15px;
  margin-top: -2px !important;
  display: block;
  margin-left: 2px;
}

.upload-image-img {
  border: 2px solid #eee;
  margin: 0 !important;
  display: inline-block;
  position: static;
  max-width: 254px;
  max-height: 254px;
}

.upload-image-img img {
  width: 100%;
}

.upload-image-img span {
  margin-left: 0 !important;
}

:host>>>.ui-button.ui-button-icon-only {
  width: auto;
}

:host>>>.ui-fileupload .ui-fileupload-content {
  padding: 0;
}

.upload-image-edit-img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

:host>>>.upload-image-edit-img .ui-fileupload .ui-fileupload-buttonbar .ui-button {
  height: 100%;
  margin-top: 1px;
  position: static;
}

:host>>>.upload-image-edit-img .ui-fileupload .ui-fileupload-buttonbar {
  margin-right: 0;
  background: #253dc0;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -5px;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 0;
}

.error-msg {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

/* upload-photo-css-end-here */
@media (max-width: 1024px) {
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }

  .step-1-wrap {
    background-size: 40%;
  }
}

@media (max-width: 991px) {
  .step-1-wrap {
    background: none;
  }
  .step-2-img {
      display: none;
  }
}

@media (max-width: 567px) {
    :host>>>.ui-dropdown {
      height: 36px;
      line-height: 36px;
  }
  .common-step-wrapper {
    padding-top: 30px;
  }

  .step-listing {
    margin-top: 0;
    margin-right: 0;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .step-listing span {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 40px;
  }

  .step-listing span:after {
    height: 5px;
    width: 41px;
    bottom: 15px;
    left: 38px;
  }

  .arrow-submit {
    margin-top: 20px;
  }
}

/* end common style */