<footer class="footer-wrap">
  <div class="footer-getintouch-img text-right">
    <img
      src="/assets/images/homepage/footer-children-img.png"
      alt=""
      class="img-fluid "
    />
 
  </div>
  <div class="footer-contact-info d-md-block d-none">
    <div class="row">
      <div class="col-md-4 col-6 footer-left-info">
        <div>
          <h5>Phone</h5>
          <a href="tel:+91 9119333999">+91 9119333999</a>
        </div>
        <div class="mt-5 pt-5">
          <h5>Email Us</h5>
          <a href="mailto:mailto:support@qause.com">support@qause.com</a>
        </div>
        <div class="mt-5 pt-5">
          <h5>Subscribe to us</h5>
          <button class="subscribe-btn"></button>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div>
          <h5>Follow Us</h5>
          <div class="footer-social-icon">
            <ul class="m-0">
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
          <div class="mt-5 pt-5 footer-quick-links ">
            <h5>quick links</h5>
            <ul class="m-0">
              <li><a href="#">Join Us</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">NGO’s in India</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-logo">
          <img
            src="/assets/images/homepage/footer-logo.png"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="footer-right-side-para mt-5 pt-5">
          <p>
            Quase helps you help others by offering its audience a non-profit
            aggregator platform that helps donors, supporters and volunteers
            connect and engage with their choice of NGOs without intermediaries.
          </p>
        </div>
        <div class="copyright">
          <span>2018 - Qause India</span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-contact-info d-md-none d-block">
    <div class="row">
      <div class="col-6 footer-left-info">
        <div class="footer-quick-links ">
          <h5>quick links</h5>
          <ul class="m-0">
            <li><a href="#">Join Us</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">NGO’s in India</a></li>
          </ul>
        </div>
        <div class="mt-5 pt-5">
          <h5>Phone</h5>
          <a href="tel:+91 9119333999">+91 9119333999</a>
        </div>
       
       
      </div>
      <div class="col-6">
        <div>
          <h5>Follow Us</h5>
          <div class="footer-social-icon">
            <ul class="m-0">
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
          <div class="mt-5 pt-5">
            <h5>Subscribe to us</h5>
            <button class="subscribe-btn"></button>
          </div>
          <div class="footer-left-info mt-5 pt-5">
            <h5>Email Us</h5>
            <a href="mailto:mailto:support@qause.com">support@qause.com</a>
          </div>
          
        </div>
      </div>
    </div>
    <div class="row align-items-center mobile-footer-bottom">
      <div class="col-6">
        <div class="footer-logo">
          <img
            src="/assets/images/homepage/footer-logo.png"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
        <div class="col-6 footer-right-side-para mt-5 pt-5">
          <p>
            Quase helps you help others by offering its audience a non-profit
            aggregator platform that helps donors, supporters and volunteers
            connect and engage with their choice of NGOs without intermediaries.
          </p>
        </div>
        <div class="col-12 copyright">
          <span class="d-block text-center">2018 - Qause India</span>
        </div>
      </div>
  </div>

</footer>
