.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  .hero-banner .carousel-indicators{
    justify-content: flex-start;
    margin-left: 21%;
  }
  /* slider-content */
  .hero-banner .hero-banner-content{
    position: absolute;
    z-index: 4;
    max-width: 500px;
    top: 50%;
    transform: translateY(-50%);
   }
 
   .hero-banner .hero-banner-content h3{
      font-size: 5rem;
      color: #fff;
      margin-bottom: 40px;
   }
 
   .hero-banner .hero-banner-content a.readmore{
      font-size: 2rem;
      color: #f7a212;
      display: inline-block;
      margin-bottom: 50px;
      text-decoration: underline !important;
   }
   .hero-banner .hero-banner-content a.readmore i{
    color: #fff;
    margin-left: 10px;
    font-size: 25px;
    vertical-align: middle;
   }
   .yellow-btn{
    background: #f7a212;
    padding: 14px 24px;
    display: inline-block;
    color: #253dc0;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 2px 5px #f4a340c9;
    transition: .3s ease;
   
 }
 .yellow-btn:hover{
    text-decoration: none;
    background: #fff;
    box-shadow: -8px 8px #f4a340c9;
    color: #f7a212;
 }
 /* modal-1 */
 :host >>> .ui-dialog .ui-dialog-titlebar-icons{
   position: absolute;
   right: -7px;
   top: -7px;
   background: #000;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 9;
 }
 :host >>> .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon{
   margin: 0;
   color: #fff !important;
   opacity: 1;
   font-size: 1.2rem;
 }
 .donation-modal label{
   font-size: 1.6rem;
   color: #1A1A1A;
   font-weight: bold;
   margin-bottom: 10px;
   letter-spacing: 1px;
 }
.donation-modal span{
   font-size: 1.4rem;
   color: #1A1A1A;
   font-weight: 600;
   letter-spacing: 1px;
   margin-top: 8px;
   display: block;
 }
 .donation-modal a{
   font-size: 1.4rem;
   color: #1A1A1A;
   font-weight: 600;
   text-decoration: underline !important;
 }
 :host >>> .donation-modal .ui-dialog .ui-dialog-titlebar{
   background: #F2F5F6;
   color: #F7A212;
   font-weight: 700;
 }
 :host >>> .donation-modal .ui-dialog .ui-dialog-titlebar{
   font-size: 3.3rem;
   font-weight: 700;
   padding: 15px 0;
 }
 :host >>> .donation-modal .ui-dialog .ui-dialog-titlebar h4{
   font-size: 3.3rem;
    font-weight: 700;
    letter-spacing: 1px;
 }
 :host >>> .donation-modal .ui-dialog .ui-dialog-titlebar p{
   margin-top: 10px;
    display: block;
    font-size: 2rem;
    letter-spacing: 1px;
 }
 :host >>> .donation-modal .ui-dialog {
    border: 0;
    width: 733px !important;
 }
 .rupee-icon{
   position: absolute;
    top: 34px;
    left: 15px;
    z-index: 1;
 }
 :host >>> .donation-modal .rupee-dropdown .ui-dropdown{
   border-radius: 0;
   min-width: auto;
   width: 80px;
   height: 42px;
   border-right: 0;
 }

 .donation-modal input{
   height: 42px;
    border: 1px solid #707070;
    padding-left: 15px;
    color: #1A1A1A;
    font-weight: 500; 
    font-size: 1.6rem;
 }
 input::-webkit-input-placeholder { /* Edge */
    color: #1A1A1A;
    font-weight: 500; 
    font-size: 1.6rem;
 }
 
 input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1A1A1A;
    font-weight: 500; 
    font-size: 1.6rem;
 }
 
 input::placeholder {
    color: #1A1A1A;
    font-weight: 500; 
    font-size: 1.6rem;
 }
 .rupee-input{
   border-left: 0;
 }
 :host >>> .donation-modal .rupee-dropdown .ui-dropdown .ui-dropdown-trigger{
    line-height: inherit;
 }
 :host >>> .donation-modal .ui-dialog .ui-dialog-content{
   padding: 40px 100px;
   background: #F5F9FB;
   border: 0;
   border-top: 1px solid #707070;
 }
 :host >>> .donation-modal .rupee-dropdown .ui-dropdown .ui-dropdown-label{
    padding-left: 30px;
 }
 :host >>> .donation-modal .rupee-dropdown .ui-dropdown .ui-dropdown-trigger::before{
   content: "\f156";
    display: block;
    position: absolute;
    top: 7px;
    left: -41px;
    font-family: 'FontAwesome';
    font-size: 2rem;
    color: #262626;
 }
 :host >>> .donation-modal .ui-dropdown{
   height: 42px;
   border: 1px solid #707070;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 :host >>> .donation-modal .ui-dropdown input.ui-dropdown-label{
   cursor: default;
   height: 42px;
   background: transparent;
   color: #1A1A1A;
    font-weight: 500;
    font-size: 1.6rem;
 }
 :host >>> .payment-category .ui-dropdown input.ui-dropdown-label{
    color: #253DC0;
    font-weight: bold;
 }
 :host >>> .donation-modal .ui-dropdown input.ui-dropdown-label
 :host >>> .donation-modal .pi-chevron-down:before{
   color: #262626;
   font-size: 2rem;
 }
 :host >>> .payment-category .ui-dropdown{
    width: 100%;
    min-width: 100%;
    margin-left: 20px;
 }
 :host >>> .donation-modal .ui-chkbox .ui-chkbox-box{
    border: 1px solid #707070;
 }
 :host >>> .donation-modal .p-field-checkbox label{
   font-size: 1.4rem;
   color: #1A1A1A;
   font-weight: 600;
   letter-spacing: 1px;
 }
 :host >>> .ui-inputgroup-addon{
   height: 42px;
   width: 60px;
   background: #fff !important;
   border: 1px solid #707070 !important;
   border-right: 0 !important;
   border-radius: 0 !important;
 }
 :host >>> .ui-inputgroup-addon .pi-envelope{
   color: #253DC0;
    margin-top: 7px;
    font-weight: bold;
    font-size: 2rem;
 }
 :host >>> .donation-modal .ui-dialog .ui-dialog-footer{
    background: #253DC0;
    border: 0;
    padding: 30px 100px;
 }
 :host >>> .donation-modal .ui-dialog .ui-dialog-footer button{
   width: 100%;
   background: transparent;
   font-size: 2.2rem;
   color: #fff;
   font-weight: bold;
   border: 0;
 }
 .donation-modal .modal-bottom-content p{
   font-size: 1.4rem;
   color: #262626;
   font-weight: 700;
 }
 .donation-modal .modal-bottom-content span{
   display: block;
   font-size: 1.4rem;
   font-weight: 900;
   color: #253DC0;
   margin-top: 20px;
 }
 .donation-modal .modal-bottom-content h5{
   color: #262626;
   font-size: 1.4rem;
   font-weight: 500;
   margin-top: 20px;
 }
/* thankyou-moodal */
.thank-you-inner{
   border: 5px solid #BA973B;
   padding: 30px;
}
:host >>> .thankyou-modal .ui-dialog .ui-dialog-titlebar{
   background: #fff;
   padding: 0;
}

:host >>> .thankyou-modal .ui-dialog .ui-dialog-content{
   padding: 40px;
   background: #fff;
   border: 0;
   text-align: center;
   z-index: -1;
 } 
 .thank-you-inner p{
   font-size: 2rem;
   font-weight: 500;
   color: #262626;
   letter-spacing: 1px;
 }
 .thank-you-inner p a{
    color: #253DC0;
    font-weight: bold;
}
.thank-you-inner h5{
    font-size: 1.7rem;
    font-weight: 700;
    color: #262626;
    letter-spacing: 1px;
}
.thank-you-inner button{
   margin-top: 50px;
    border: 0;
    background: transparent;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: bold;
}
/* payment-failed-modal */

:host >>> .payment-failed-modal .ui-dialog .ui-dialog-content{
  padding: 40px 70px;
  background: #F1F2F4;
  border: 0;
}
:host >>> .payment-failed-modal .ui-dialog .ui-dialog-titlebar{
  border: 0;
  padding: 0;
}
.payment-failed-inner h2{
  color: #F7A212;
  font-size: 3rem;
  font-weight: bold;
}
.payment-failed-inner p{
    font-size: 1.7rem;
    font-weight: 700;
    color: #262626;
    letter-spacing: 1px;
}
.payment-failed-inner h5{
  font-size: 1.7rem;
    font-weight: 500;
    color: #262626;
    letter-spacing: 1px;
} 
.payment-failed-inner button{
  background: #253DC0;
  color: #fff;
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  border: 0;
  margin-top: 50px;
  padding: 20px 40px;
}
@media (max-width:1024px) {
  .hero-banner .carousel-indicators{
    margin-left: 61px;
    bottom: -48px;
}
  .carousel-indicators li {
    background-color: #253dc0;
  }
  .hero-banner .hero-banner-content h3{
    font-size: 4rem;
  }
}
  @media (max-width:767px){
    .hero-banner .hero-banner-content{
            transform: translate(0);
            position: static;
            max-width: 100%;
            text-align: center;
            padding: 30px 0;
    }
    .hero-banner .hero-banner-content h3{
      font-size: 3rem;
      color: #253dc0;
      margin-bottom: 20px;
    } 
    .hero-banner .hero-banner-content a.readmore{
      margin-bottom: 20px;
    }
    .hero-banner .carousel-indicators{
      margin-left: 0;
    bottom: -48px;
    left: 0;
    margin: 0 auto;
    justify-content: center;
    }
    .btn-grp{
      justify-content: center;
    }
}

