<section class="volunteer-feature-wrap">
    <h1 class="main-heading">Why Should Volunteers <br>
        Associate With Qause</h1>
    <div class="volunteer-feature-bg position-relative">
        <div class="container">
        <div class="volunteer-feature-content">
            <h2>Arijit has helped
                over 100 NGOs
                in the education 
                sector.</h2>
                <a class="readmore">Read their story <i  class="fa fa-caret-right"></i></a>
                <div class="d-flex">
                    <button class="yellow-btn ml-2 mr-2">Free Register</button>
                    <button class="yellow-btn ml-2 mr-2">Donate</button>
                </div>
        </div>
    </div>
    </div>
</section>