<div class="thankyou-modal">
    <div>
      <div class="thank-you-inner text-center">
        <div>
        <img src="/assets/images/homepage/thankyou-heart.svg" class="img-fluid">
      </div>
      <div>
        <img src="/assets/images/homepage/thankyou-img.svg" class="img-fluid">
      </div>
      <p class="mt-5">You have successfully donated a valuable amount to the people in need! Every bit of your contribution is 
        deeplyappreciated by <a> Qause.</a></p>
        <h5 class="mt-5">It is the generosity and belief of the people like you in our vision that enables us to perform this work, and we
           are deeply grateful for your valuable donation. </h5>
        <button>click for Failed payment content</button>
      </div>
  </div>
  </div>
