<section class="what-you-are-looking-wrap">
    <div class="container-fluid">
        <h1 class="main-heading">Find what you are looking for with just a click</h1>
        <div class="btngrp-btnsubcategory">
        <div class="btn-group btn-group-custom d-flex justify-content-center" role="group" aria-label="Basic example">
            <button type="button">All</button>
            <button type="button" class="active"><i class="fa fa-check mr-3" aria-hidden="true"></i>Volunteer Opportunities</button>
            <button type="button">Contribute to a cause</button>
          </div>
          <ul class="btn-grp-sub-category d-flex justify-content-center w-100 mt-5">
            <li class="active">telecaller</li>
            <li>content writer</li>
            <li>online class moderator</li>
        </ul>
    </div>
        <swiper  [slidesPerView]="slideritems" [spaceBetween]="50" [loop]="false" [navigation]="true">
            <ng-template swiperSlide>
                <div class="volunteer-slider-item">
                    <div class="volunteer-slider-img">
                        <img src="/assets/images/homepage/featured-slider-1.jpg" class="img-fluid" alt="">
                      </div>
                      <div class="p-4 volunteer-slider-inner">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="border-bottom pb-4">
                            <h4 class="fw-800 mb-3">
                              <span class="custom-icons small-heart mr-4"></span> Goonj
                              Foundation
                            </h4>
                            <p>
                              <span class="custom-icons small-map mr-4"></span>Jaipur,
                              Rajasthan
                            </p>
                          </div>
                          <div class="points">100 Points</div>
                        </div>
                        <h3 class="primary-color fz22 fw-800 my-4">
                          Create a fundraising video
                        </h3>
                        <span class="d-block grey-color fw-400 mb-2">Estimated Time : 5-10 Hrs</span>
                        <span class="d-block grey-color fw-400">Remote, Virtual Volunteering</span>
                        <div class="d-flex mt-4 justify-content-between pb-4">
                          <a  class="wantToHelp">I want to help <i class="fa fa-angle-double-right ml-4"></i></a>
                          <a  class="fz30 grey-color"><i class="fa fa-share-alt"></i></a>
                        </div>
                      </div>
                      <span class="qause-verified"><img src="/assets/images/homepage/variefied.png" alt=""></span>
                      <div class="bottom-text">
                        <span class="primary-color">*</span> Get points for volunterring
                        for tasks given by NGO’s
                      </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="volunteer-slider-item">
                    <div class="volunteer-slider-img">
                        <img src="/assets/images/homepage/featured-slider-1.jpg" class="img-fluid" alt="">
                      </div>
                      <div class="p-4 volunteer-slider-inner">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="border-bottom pb-4">
                            <h4 class="fw-800 mb-3">
                              <span class="custom-icons small-heart mr-4"></span> Goonj
                              Foundation
                            </h4>
                            <p>
                              <span class="custom-icons small-map mr-4"></span>Jaipur,
                              Rajasthan
                            </p>
                          </div>
                          <div class="points">100 Points</div>
                        </div>
                        <h3 class="primary-color fz22 fw-800 my-4">
                          Create a fundraising video
                        </h3>
                        <span class="d-block grey-color fw-400 mb-2">Estimated Time : 5-10 Hrs</span>
                        <span class="d-block grey-color fw-400">Remote, Virtual Volunteering</span>
                        <div class="d-flex mt-4 justify-content-between pb-4">
                          <a  class="wantToHelp">I want to help <i class="fa fa-angle-double-right ml-4"></i></a>
                          <a  class="fz30 grey-color"><i class="fa fa-share-alt"></i></a>
                        </div>
                      </div>
                      <span class="qause-verified"><img src="/assets/images/homepage/variefied.png" alt=""></span>
                      <div class="bottom-text">
                        <span class="primary-color">*</span> Get points for volunterring
                        for tasks given by NGO’s
                      </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="volunteer-slider-item">
                    <div class="volunteer-slider-img">
                        <img src="/assets/images/homepage/featured-slider-1.jpg" class="img-fluid" alt="">
                      </div>
                      <div class="p-4 volunteer-slider-inner">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="border-bottom pb-4">
                            <h4 class="fw-800 mb-3">
                              <span class="custom-icons small-heart mr-4"></span> Goonj
                              Foundation
                            </h4>
                            <p>
                              <span class="custom-icons small-map mr-4"></span>Jaipur,
                              Rajasthan
                            </p>
                          </div>
                          <div class="points">100 Points</div>
                        </div>
                        <h3 class="primary-color fz22 fw-800 my-4">
                          Create a fundraising video
                        </h3>
                        <span class="d-block grey-color fw-400 mb-2">Estimated Time : 5-10 Hrs</span>
                        <span class="d-block grey-color fw-400">Remote, Virtual Volunteering</span>
                        <div class="d-flex mt-4 justify-content-between pb-4">
                          <a  class="wantToHelp">I want to help <i class="fa fa-angle-double-right ml-4"></i></a>
                          <a  class="fz30 grey-color"><i class="fa fa-share-alt"></i></a>
                        </div>
                      </div>
                      <span class="qause-verified"><img src="/assets/images/homepage/variefied.png" alt=""></span>
                      <div class="bottom-text">
                        <span class="primary-color">*</span> Get points for volunterring
                        for tasks given by NGO’s
                      </div>
                </div>
            </ng-template>
        </swiper>
        <button class="yellow-btn">Explore Opportunities<i class="fa fa-angle-right ml-3 fz30 font-weight-bold"></i> </button>
    </div>
</section>
