.step-1-wrap {
    background: url(/assets/images/ngo/step-1bg.png) no-repeat center right;
  }
  /* common styles */
  .container-fluid {
    padding-left: 75px;
    padding-right: 75px;
  }
  .common-step-content-wrapper {
    max-width: 590px;
  }
  .step-listing {
    width: 40px;
    margin-right: 72px;
    margin-top: 121px;
  }
  .step-listing span {
    width: 40px;
    height: 40px;
    border: 2px solid #253dc0;
    position: relative;
    margin-bottom: 40px;
    border-radius: 50%;
    display: inline-block;
  }
  .step-listing span:last-child {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .step-listing span.active:before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 50%;
    background-color: #253dc0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .step-listing span:after {
    left: 0px;
    right: 0;
    margin: auto;
    content: "";
    height: 45px;
    width: 5px;
    background: #868686;
    display: block;
    bottom: -47px;
    position: absolute;
  }
  .step-listing span:last-child:after {
    content: none;
  }
  .common-step-wrapper {
    padding-top: 30px;
  }
 
  .form-wrapper h3 {
    font-size: 2.4rem;
    color: #011427;
    font-weight: 400;
  }
  .common-label {
    width: 100%;
    font-size: 2rem;
    color: #011427;
    font-weight: bold;
    margin-bottom: 10px;
  }
  :host >>> .ui-calendar {
    display: block;
  }
  /* datepicker */
  :host >>>
    .ui-datepicker
    .ui-datepicker-header
    .ui-datepicker-title
    select {
    border-color: #aaaaaa;
    color: #011427;
    padding: 5px 5px;
  }
  :host >>>
    .ui-datepicker
    .ui-monthpicker
    .ui-monthpicker-month.ui-state-active {
    color: #4d4d4d;
    background-color: #eaeaea;
    outline: 0;
    font-weight: bold;
  }
  :host >>> .ui-datepicker .ui-monthpicker .ui-monthpicker-month {
    color: #4d4d4d;
  }
  .common-input,
  :host >>> .ui-inputtext {
    border: 1px solid #aaaaaa;
    width: 100%;
    height: 54px;
    line-height: 54px;
    font-size: 2rem;
    color: #21222b !important;
    padding: 0 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  .common-input:focus {
    border: 1px solid #253dc0;
    box-shadow: none;
    outline: 0;
  }
  :host >>> .common-input.ng-touched {
    background: none;
  }
  .custom-select-step span.arrow-down {
    top: 16px;
    right: 15px;
  }
  .border-dashed {
    border: 1px dashed #7b7979 !important;
  }
  .arrow-submit:disabled{
    opacity: .5;
    background-position: none;
  }
  .arrow-submit {
    background: url(/assets/images/submit-btn.png)no-repeat;
    width: 66px;
    height: 66px;
    border: 0;
    opacity: 1;
    transition: 0.3s linear all;
    margin-top: 10px;
  }
  .arrow-submit:hover {
    background: url(/assets/images/submit-btn-hover.png)no-repeat;
  }
  .arrow-submit:disabled:hover{
    background: url(/assets/images/submit-btn.png)no-repeat;
  }
  .arrow-left{
    transform: rotate(
180deg
);
  }
  .step-2-img img{
    max-width: 70%;
  }
  .main-heading {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: #011427;
  }
  .requiredFeilds {
    font-size: 2.2rem;
    font-weight: 500;
  }
  .static-content-of-socialmedia {
    position: absolute !important;
    top: 18px;
    left: 50px;
    font-size: 1em;
    display: block;
    z-index: 4;
    color: #21222b;
  }
  
  .ng-touched.is-invalid.ng-dirty.ng-invalid {
    background: none;
  }
  .input-of-socialmedia {
    padding-left: 147px;
      padding-right: 10px;
      font-size: 1.8rem;
  }
  .input-of-socialmedia.instagram {
    padding-left: 150px;
  }
  .input-of-socialmedia.youtube {
    padding-left: 136px;
  }
  
  /* drop-down */
  :host >>> .ui-dropdown {
    height: 54px;
    line-height: 54px;
    font-size: 2rem;
    color: #636363;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent !important;
    min-width: 5em;
    background: none;
    border: 1px solid #aaaaaa;
    border-right: 0 !important;
    border-radius: 0;
  }
  :host >>> .pi-chevron-down:before {
    margin-top: 4px;
    display: block;
  }
  :host >>> .ui-dropdown.ui-dropdown-open {
    min-width: 8em;
  }
  .mobile-dopdown span,
  input {
    color: #636363;
    font-size: 1.1em;
    font-weight: 500;
  }
  :host >>> .ui-dropdown .ui-dropdown-label {
    padding-left: 15px;
    border:0;
  }
  :host >>> .input-group-text {
    border: 1px solid #aaaaaa;
  }
  :host >>> .ui-inputtext {
    background-color: transparent;
    padding-top: 0;
  }
  :host >>> .ui-dropdown:not(.ui-state-disabled):hover {
    border-left: 1px solid #aaaaaa;
    border-color: #aaaaaa;
  }
  :host >>>
    .ui-dropdown-panel
    .ui-dropdown-filter-container
    .ui-dropdown-filter-icon,
  :host >>> .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
    color: #636363;
    font-size: 0.9em;
  }
  :host >>> .ui-dropdown-panel .ui-dropdown-filter-container {
    padding: 0.4em;
  }
  
  :host >>>
    .ui-dropdown-panel
    .ui-dropdown-filter-container
    .ui-dropdown-filter {
    height: 30px;
    line-height: 30px;
    padding-right: 1em;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    padding-bottom: 0;
  }
  :host >>> .foundationyear .ui-dropdown .ui-dropdown-label {
    padding-left: 0;
  }
  :host >>> .foundationyear .ui-dropdown {
    border-right: 1px solid #aaaaaa !important;
    width: 100%;
  }
  @media (max-width: 1024px) {
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px;
    }
    .step-1-wrap {
      background: none;
    }
  }
  
  @media (max-width: 567px) {
    .common-step-wrapper {
      padding-top: 30px;
    }
    .step-listing {
      margin-top: 0;
      margin-right: 0;
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
    }
    .step-listing span {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 40px;
    }
    .step-listing span:after {
      height: 5px;
      width: 41px;
      bottom: 15px;
      left: 38px;
    }
    .input-of-socialmedia {
        padding-left: 120px;
        font-size: 1.6rem;
    }
    .input-of-socialmedia.instagram{
        padding-left: 124px;
    }
    .input-of-socialmedia.youtube {
        padding-left: 112px;
    }
  }
  
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

  /* end common style */
  