<app-signup-header></app-signup-header>
<section class="step-2-wrap common-step-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div
          class="common-step-content-wrapper d-flex justify-content-sm-between flex-column flex-sm-row"
        >
          <div class="step-listing">
            <span class="active-filled"></span>
            <span class="active"></span>
            <span></span>
            <span></span>
          </div>
          <div class="form-content-wrapper w-100">
            <div class="form-wrapper example-containe">
              <form #stepTwoForm="ngForm" (submit)="submitStepTwo(stepTwoForm)">
                <div class="form-container">
                  <h1 class="main-heading">
                    Lets get started to making your NGO Page. All the data below
                    will be visible to Public.
                  </h1>
                  <div class="form-group">
                    <p
                      class="font-weight-bold"
                      [ngStyle]="{ 'font-size': '24px' }"
                    >
                      Essential information:
                    </p>
                  </div>
                  <div class="form-group">
                    <label class="common-label"
                      >Public Email ID</label
                    >
                    <input
                      type="text"
                      class="common-input"
                      id="publicEmail"
                      placeholder="Enter Public Email Id"
                      name="publicEmail"
                      [(ngModel)]="model.publicEmail"
                      #ngoPublicEmail="ngModel"
                      [ngClass]="{
                        'is-invalid':
                          ngoPublicEmail.errors && ngoPublicEmail.touched
                      }"
                      pattern="\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                      
                    />
                    <div
                      class="invalid-feedback fz16"
                      [hidden]="!ngoPublicEmail.errors?.pattern"
                    >
                      Use a valid email.
                    </div>
                  </div>
                  <div class="form-group mt-md-4">
                    <label class="common-label"
                      >Public Phone no</label
                    >
                    <div class="d-flex">
                      <p-dropdown
                        [options]="items"
                        [(ngModel)]="phone_code"
                        name="phone_code"
                        filter="true"
                        filterBy="value"
                        class="mobile-dopdown"
                      >
                        <ng-template let-item pTemplate="selectedItem">
                          <img
                            src="assets/images/countryFlags/{{
                              item.label | lowercase
                            }}.png"
                            style="width: 16px; vertical-align: middle"
                          />
                          <span
                            style="vertical-align: middle; margin-left: 0.5em"
                            >+{{ item.value }}</span
                          >
                        </ng-template>
                        <ng-template let-car pTemplate="item">
                          <div
                            class="ui-helper-clearfix"
                            style="position: relative; height: 25px"
                          >
                            <img
                              src="assets/images/countryFlags/{{
                                car.label | lowercase
                              }}.png"
                              style="
                                width: 24px;
                                position: absolute;
                                top: 1px;
                                left: 5px;
                              "
                            />
                            <div
                              style="
                                font-size: 14px;
                                float: right;
                                margin-top: 4px;
                              "
                            >
                              +{{ car.value }}
                            </div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                      <input
                        type="number"
                        class="common-input"
                        placeholder="Enter Public Phone No."
                        name="publicMobile"
                        [(ngModel)]="model.mobilenumber"
                        #ngoPublicMobile="ngModel"
                        minlength="8"
                        [ngClass]="{
                          'is-invalid':
                            ngoPublicMobile.errors && ngoPublicMobile.touched
                        }"
                      />
                      <div
                        class="invalid-feedback fz16"
                        [hidden]="!ngoPublicMobile.errors?.minlength"
                      >
                        Enter min 8 value
                      </div>
                    </div>
                  </div>
                  <div class="form-group mt-md-4 foundationyear">
                    <label class="common-label"
                      >Foundation Year<sup>*</sup></label
                    >
                    <p-dropdown
                      styleClass="common-input"
                      [options]="allyears"
                      name="foundingYear"
                      [(ngModel)]="model.foundingYear"
                      #foundingYear="ngModel"
                      required="true"
                      placeholder="Select Year"
                    >
                    </p-dropdown>
                    <div
                      *ngIf="
                        foundingYear.invalid &&
                        (foundingYear.dirty || foundingYear.touched)
                      "
                    >
                      <div
                        *ngIf="foundingYear.errors.required"
                        class="error-msg"
                      >
                        Founding year is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group mt-md-4">
                    <label class="common-label">Social Media</label>
                    <div class="input-group mb-3 position-relative">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <img
                            src="/assets/images/fb.png"
                            class="img-fluid"
                            alt=""
                          />
                        </span>
                      </div>
                      <span
                        class="static-content-of-socialmedia position-absolute"
                        >www.facebook.com/</span
                      >
                      <input
                        type="text"
                        class="form-control common-input w-auto input-of-socialmedia"
                        name="facebook"
                        [(ngModel)]="model.facebook"
                        #ngoFb="ngModel"
                      />
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <img
                            src="/assets/images/insta.png"
                            class="img-fluid"
                            alt=""
                          />
                        </span>
                      </div>
                      <span
                        class="static-content-of-socialmedia position-absolute"
                        >www.instagram.com/</span
                      >
                      <input
                        type="text"
                        class="form-control common-input w-auto input-of-socialmedia instagram"
                        name="instagram"
                        [(ngModel)]="model.instagram"
                        #ngoInsta="ngModel"
                      />
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <img
                            src="/assets/images/video.png"
                            class="img-fluid"
                            alt=""
                          />
                        </span>
                      </div>
                      <span
                        class="static-content-of-socialmedia position-absolute"
                        >www.youtube.com/</span
                      >
                      <input
                        type="text"
                        class="form-control common-input w-auto input-of-socialmedia youtube"
                        name="youtube"
                        [(ngModel)]="model.youtube"
                        #ngoYoutube="ngModel"
                      />
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="arrow-left">
                    <button
                      routerLink="/signupform/step1"
                      type="submit"
                      class="arrow-submit"
                    ></button>
                  </div>
                  <div class="arrow-right">
                    <button
                      type="submit"
                      class="arrow-submit"
                      [disabled]="stepTwoForm.invalid"
                    ></button>
                  </div>
                </div>
              </form>
            </div>
            <span class="requiredFeilds">
              <sup>*</sup> Indicated required fields
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-right step-2-img">
        <img src="/assets/images/ngo/r2.png" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
  <app-signup-loader [isLoaded]="isLoading"></app-signup-loader>
</section>
