<app-header></app-header>
<section class="home-homepage-wrap position-relative">
  <div class="wave-bg"></div>
  <img
    src="/assets/images/homepage/secton-1-wave.png"
    class="img-fluid w-100"
    alt=""
  />
  <!-- <img
    src="/assets/images/homepage/mobile-section1-wave.png"
    class="img-fluid w-100 d-lg-none d-block"
    alt=""
  /> -->
  <div class="container">
    <div class="home-coming-soon-content-wrap">
      <span data-aos="fade-up">New Website Coming Soon</span>
      <h1 class="common-heading" data-aos="fade-up">
        Desiging for a more <br />
        human-centered world.
      </h1>
      <a href="" class="learn-more" data-aos="fade-up">Learn more</a>
      <div class="scroll-bottom bounce2" data-aos="fade-up">
        <a href=""
          ><img
            src="/assets/images/homepage/scanner-icon.png"
            class="img-fluid"
            alt="" 
        /></a>
      </div>
    </div>
    <div class="people-img mr-auto ml-auto text-center ">
      <img
        src="/assets/images/homepage/human-centered-img.png"
        class="img-fluid "
        alt="" data-aos="fade-up" data-aos-duration="1.5"
        data-aos-anchor-placement="center-bottom"
      />
    </div>
    <div class="arrow-bottom ml-auto mr-auto text-center" data-aos="fade-up">
      <img
        src="/assets/images/homepage/inspiration-hope-top-arrow.png"
        class="img-fluid"
        alt=""
      />
    </div>
  </div>
</section>
<section class="inspiration-and-hope-wrap" id="">
  <div class="container">
    <div class="inspiration-and-hope-content text-center">
      <h3 class="common-heading" data-aos="fade-up">Inspiration and Hope</h3>
      <p class="common-para mt-5 mb-5" data-aos="fade-up">
        A social platform for volunteers,<br />
        changemakers and NGOs awaits you
      </p>
      <div class="inspiration-and-hope-btn d-md-flex">
        <a routerLink="/joinus/selection/"class="common-btn orange-btn" data-aos="fade-up">Became volunteer</a>
        <a routerLink="/ngo-signup" class="common-btn orange-btn" data-aos="fade-up">Join as NGO</a>
      </div>
    </div>
  </div>
</section>
<section class="how-it-works text-center">
  <h3 data-aos="fade-up" data-aos="fade-up">How it works?</h3>
  <p class="common-para" data-aos="fade-up">
    Qause platform is open for registrations for NGOs and Volunteers. We are
    currently working to capture/translate/document and digitize heart-warming
    stories from NGOs across India.
  </p>
  <div class="container">
    <div class="how-it-works-category position-relative" data-aos="fade-up">
      <img
        src="/assets/images/homepage/how-it-works-category.svg"
        class="img-fluid"
        alt=""
      />
    </div>
  </div>
</section>
<section
  class="ngo-associate-wrap d-flex  flex-md-row justify-content-center align-items-center"
>
  <div class="ngo-associate-item text-center" data-aos="fade-right" >
    <img
      src="/assets/images/homepage/join-as-ngo-icon.png"
      class="img-fluid"
      alt=""
    />
    <h3 class="mt-5">350</h3>
    <h4 class="mb-4">Ngo Associated</h4>
    <a routerLink="/ngo-signup/" class="common-btn orange-btn mt-5">Join as NGO</a>
  </div>
  <div class="m-190 d-md-block d-none"></div>
  <div class="ngo-associate-item text-center" data-aos="fade-left">
    <img
      src="/assets/images/homepage/became-volunteer-icon.png"
      class="img-fluid"
      alt=""
    />
    <h3 class="mt-5">10,000</h3>
    <h4 class="mb-4">Lives</h4>
    <a routerLink="/joinus/selection/" class="common-btn orange-btn mt-5">Become Volunteer</a>
  </div>
</section>
<section class="why-join-for-ngo-wrap">
  <div class="why-join how-it-works text-center">
    <h3 data-aos="fade-up">Why Join?</h3>
    <p class="common-para" data-aos="fade-up">
      Qause platform is open for registrations for NGOs and Volunteers. We are
      currently working to capture/translate/document and digitize heart-warming
      stories from NGOs across India.
    </p>
  </div>
  <div class="for-ngo text-center">
    <h4 data-aos="fade-up">For NGO’S</h4>
    <div class="container">
      <div class="row for-ngo-inner">
        <div class="col-6" data-aos="fade-up">
          <div class="ngo-inner-item">
            <img
              src="/assets/images/homepage/free-ngo-web-profile.png"
              class="img-fluid"
              alt=""
            />
            <h4>Free NGO Web Profile</h4>
          </div>
        </div>
        <div class="col-6" data-aos="fade-up" data-aos-delay=".2">
          <div class="ngo-inner-item">
            <img
              src="/assets/images/homepage/recruit-volunteers.png"
              class="img-fluid"
              alt=""
            />
            <h4>Recruit Volunteers</h4>
          </div>
        </div>
        <div class="col-6" data-aos="fade-up" data-aos-delay=".4">
          <div class="ngo-inner-item">
            <img
              src="/assets/images/homepage/reward-system.png"
              class="img-fluid"
              alt=""
            />
            <h4>Reward System</h4>
          </div>
        </div>
        <div class="col-6" data-aos="fade-up" data-aos-delay=".6">
          <div class="ngo-inner-item">
            <img
              src="/assets/images/homepage/free-digital-services.png"
              class="img-fluid"
              alt=""
            />
            <h4>Free Digital Services</h4>
          </div>
        </div>
        <button routerLink="/ngo-signup/" class="signup common-btn text-center ml-auto mx-auto">
          Sign Up
          <img
            src="/assets/images/homepage/arrow-right.png"
            class="img-fluid ml-4"
            alt=""
          />
        </button>
      </div>
    </div>
  </div>
</section>
<section class="for-volunteers for-ngo text-center">
  <h4 data-aos="fade-up">For Volunteer’s</h4>
  <div class="container">
    <div class="row for-ngo-inner">
      <div class="col-6" data-aos="fade-up">
        <div class="ngo-inner-item">
          <img
            src="/assets/images/homepage/remote-work.png"
            class="img-fluid"
            alt=""
          />
          <h4>Remote Work</h4>
        </div>
      </div>
      <div class="col-6" data-aos="fade-up" data-aos-delay=".2">
        <div class="ngo-inner-item">
          <img
            src="/assets/images/homepage/reward-system.png"
            class="img-fluid"
            alt=""
          />
          <h4>Reward System</h4>
        </div>
      </div>
      <div class="col-6" data-aos="fade-up" data-aos-delay=".4">
        <div class="ngo-inner-item">
          <img
            src="/assets/images/homepage/one-click-volunteering.png"
            class="img-fluid"
            alt=""
          />
          <h4>One Click Volunteering</h4>
        </div>
      </div>
      <div class="col-6" data-aos="fade-up" data-aos-delay=".6">
        <div class="ngo-inner-item">
          <img
            src="/assets/images/homepage/social-credebility.png"
            class="img-fluid"
            alt=""
          />
          <h4>Social Credibility</h4>
        </div>
      </div>
      <button class="signup common-btn text-center ml-auto mx-auto" data-aos="fade-up">
        Sign Up
        <img
          src="/assets/images/homepage/arrow-right.png"
          class="img-fluid ml-4"
          alt=""
        />
      </button>
    </div>
  </div>
</section>
<section class="connect-with-us-wrap text-center">
  <div class="container">
    <div class="row connect-with-us-inner">
      <div class="col-md-6 col-12">
        <div class="follow-qause">
          <h3  data-aos="fade-up">Follow Qause</h3>
          <img
            src="/assets/images/homepage/follow-qause-image.png"
            class="img-fluid"
            alt=""  data-aos="fade-right" data-aos-delay=".6"
          />
          <div
            class="follow-qause-social-network d-flex justify-content-between mt-5"
          >
            <div class="instagram" data-aos="fade-up" data-aos-delay=".2">
              <a href="#"  >
                <span></span>
                <p>Instagram</p>
              </a>
            </div>
            <div class="youtube" data-aos="fade-up" data-aos-delay=".4">
              <a href="#" >
                <span></span>
                <p>Youtube</p>
              </a>
            </div>
            <div class="facebook" data-aos="fade-up" data-aos-delay=".6">
              <a href="#">
                <span></span>
                <p>Facebook</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="connect-with-us">
          <h3  data-aos="fade-up" >Connect with us</h3>
        </div>
        <div class="whtsapp-gmail">
          <div class="whtsapp" data-aos="fade-up" data-aos-delay=".4">
            <a href="https://wa.me/+91 98999 77797"
              ><img
                src="/assets/images/homepage/whatsapp.png"
                class="img-fluid"
                alt=""
              />
              <span class="d-block">+91 98999 77797</span></a
            >
          </div>
          <div class="gmail mt-md-5 pt-md-5" data-aos="fade-up" data-aos-delay=".6">
            <a href="mailto:qauseindia@gmail.com"
              ><img
                src="/assets/images/homepage/gmail.png"
                class="img-fluid"
                alt=""
              />
              <span class="d-block">qauseindia@gmail.com</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="passion-guru-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-6" >
        <div class="passion-guru-content">
          <img
            src="/assets/images/homepage/passion-guru-logo.png"
            class="img-fluid mb-5 pb-5"
            alt="" data-aos="fade-up" 
          />
          <p data-aos="fade-up" >
            An Initiative to bring Passion Based mentoring to the less
            fortunate, ONLINE!
          </p>
          <div class="d-md-block d-none">
          <div class="ml-auto" data-aos="fade-up" >
            <a href="" class="common-btn lightblue-btn text-center mt-5 m-0"
              >Know More</a
            >
          </div>
          <div class="social-icons mt-5 pt-5 ">
            <ul>
              <li data-aos="fade-up" data-aos-delay=".2"><a href="#"></a></li>
              <li data-aos="fade-up" data-aos-delay=".4"><a href="#"></a></li>
              <li data-aos="fade-up" data-aos-delay=".6"><a href="#"></a></li>
            </ul>
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="passion-guru-ngo-children-img" data-aos="fade-left" >
          <img
            src="/assets/images/homepage/passionguru-children-snap.jpg"
            class="img-fluid img-thumbnail"
            alt="" 
          />
        </div>
        <div class="d-md-none d-flex align-items-center flex-column " data-aos="fade-up">
            <a href="" class="common-btn lightblue-btn text-center mt-5 m-0"
              >Know More</a
            >

          <div class="social-icons mt-5 pt-5 ">
            <ul>
              <li data-aos="fade-up" data-aos-delay=".2"><a href="#"></a></li>
              <li data-aos="fade-up" data-aos-delay=".4"><a href="#"></a></li>
              <li data-aos="fade-up" data-aos-delay=".6"><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
