<section class="qause-help-tabs">
<div class="container">
    <a href="" class="arrow-down"><img src="/assets/images/homepage/arrow-down.png" class="img-fluid"></a>
    <ul class="nav nav-tabs flex-nowrap justify-content-around align-items-end">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#qause-help-1"
        >Free NGO <br />
        Web Profile</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#qause-help-2"
        >Free Digital <br />
        Services</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#qause-help-3"
        >Donate Button <br />
        Integration</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#qause-help-4"
        >Phone <br />
        Assistance</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#qause-help-5"
        >Recurit <br />
        Volunteers</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#qause-help-6"
        >Free Access <br />
        To Passion Guru <br />
        Classes</a
      >
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane  active" id="qause-help-1">
      <div class="row">
        <div class="col-md-6 col-12 pr-xl-5">
          <img src="/assets/images/homepage/qause-help.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pl-xl-5">
          <h3 class="border-bottom">
            Qause helps <br />
            you help others
          </h3>
          <p>
            Unlock super services such as building your NGO website
            profile, activating Online Donations, developing a strong
            online presence, raising funds, finding donors and volunteers,
            etc.
          </p>
          <div class="py-5 my-5 btn-grp">
            <a href="" class="yellow-btn-2 py-3 px-5 mr-4"
              >How It Works<i class="fa fa-question"></i
            ></a>
            <a href="" class="yellow-btn-2 py-3 px-5"
              >Sign Up <i class="fa fa-angle-right font-weight-bold"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="qause-help-2">
      <div class="row">
        <div class="col-md-6 pr-xl-5">
          <img src="/assets/images/homepage/qause-help.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pl-xl-5">
          <h3 class="border-bottom">
            Qause helps <br />
            you help others
          </h3>
          <p>
            Unlock super services such as building your NGO website
            profile, activating Online Donations, developing a strong
            online presence, raising funds, finding donors and volunteers,
            etc.
          </p>
          <div class="py-5 my-5">
            <a href="" class="yellow-btn-2 py-3 px-5 mr-4"
              >How It Works<i class="fa fa-question"></i
            ></a>
            <a href="" class="yellow-btn-2 py-3 px-5"
              >Sign Up <i class="fa fa-angle-right font-weight-bold"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="qause-help-3">
      <div class="row">
        <div class="col-md-6 pr-xl-5">
          <img src="/assets/images/homepage/qause-help.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pl-xl-5">
          <h3 class="border-bottom">
            Qause helps <br />
            you help others
          </h3>
          <p>
            Unlock super services such as building your NGO website
            profile, activating Online Donations, developing a strong
            online presence, raising funds, finding donors and volunteers,
            etc.
          </p>
          <div class="py-5 my-5">
            <a href="" class="yellow-btn-2 py-3 px-5 mr-4"
              >How It Works<i class="fa fa-question"></i
            ></a>
            <a href="" class="yellow-btn-2 py-3 px-5"
              >Sign Up <i class="fa fa-angle-right font-weight-bold"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="qause-help-4">
      <div class="row">
        <div class="col-md-6 pr-xl-5">
          <img src="/assets/images/homepage/qause-help.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pl-xl-5">
          <h3 class="border-bottom">
            Qause helps <br />
            you help others
          </h3>
          <p>
            Unlock super services such as building your NGO website
            profile, activating Online Donations, developing a strong
            online presence, raising funds, finding donors and volunteers,
            etc.
          </p>
          <div class="py-5 my-5">
            <a href="" class="yellow-btn-2 py-3 px-5 mr-4"
              >How It Works<i class="fa fa-question"></i
            ></a>
            <a href="" class="yellow-btn-2 py-3 px-5"
              >Sign Up <i class="fa fa-angle-right font-weight-bold"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="qause-help-5">
      <div class="row">
        <div class="col-md-6 pr-xl-5">
          <img src="/assets/images/homepage/qause-help.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pl-xl-5">
          <h3 class="border-bottom">
            Qause helps <br />
            you help others
          </h3>
          <p>
            Unlock super services such as building your NGO website
            profile, activating Online Donations, developing a strong
            online presence, raising funds, finding donors and volunteers,
            etc.
          </p>
          <div class="py-5 my-5">
            <a href="" class="yellow-btn-2 py-3 px-5 mr-4"
              >How It Works<i class="fa fa-question"></i
            ></a>
            <a href="" class="yellow-btn-2 py-3 px-5"
              >Sign Up <i class="fa fa-angle-right font-weight-bold"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="qause-help-6">
      <div class="row">
        <div class="col-md-6 col-12 pr-xl-5">
          <img src="/assets/images/homepage/qause-help.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 pl-xl-5">
          <h3 class="border-bottom">
            Qause helps <br />
            you help others
          </h3>
          <p>
            Unlock super services such as building your NGO website
            profile, activating Online Donations, developing a strong
            online presence, raising funds, finding donors and volunteers,
            etc.
          </p>
          <div class="py-5 my-5">
            <a href="" class="yellow-btn-2 py-3 px-5 mr-4"
              >How It Works<i class="fa fa-question"></i
            ></a>
            <a href="" class="yellow-btn-2 py-3 px-5"
              >Sign Up <i class="fa fa-angle-right font-weight-bold"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
