<div class="qause-filter-wrap digital-world quase-common-section">
    <div class="container">
        <h4 class="fz24 text-center blue-color font-weight-bolder">
          A Digital world of <br />
          <span class="d-block fz20 orange-color font-weight-bolder">
            Inspiration and Hope
          </span>
        </h4>
        <div class="category-city-wrapper">
          <ul>
            <li class="pl-0"><input type="text" placeholder="What are you looking for?" class="border-0"></li>
            <li class="d-flex align-items-center">
              <span class="custom-icons red-heart"></span>
              <div class="category-dropdown h-100 w-100">
                <select name="" id="">
                  <option value="">Category 1</option>
                  <option value="">Category 2</option>
                  <option value="">Category 3</option>
                </select>
              </div>
            </li>
            <li class="d-flex align-items-center">
              <span class="custom-icons red-map"></span>
              <div class="city-dropdown h-100 w-100">
                <select name="" id="">
                  <option value="">City 1</option>
                  <option value="">City 2</option>
                  <option value="">City 3</option>
                </select>
              </div>
            </li>
            <li>
              <button class="search-digital">
                <i class="fa fa-search"></i>
              </button>
            </li>
          </ul>
        </div>
        <button class="explore-more">Explore More</button>
      </div>
</div>
