<div class="qause-ngovolunteer-couter-wrap">
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-6 text-center cities-icon">
          <figure><img src="/assets/images/homepage/cities-icon.png" alt=""></figure>
          <h4>35+</h4>
          <p>Cities</p>
        </div>
        <div class="col-sm-3 col-6 text-center conneted-ngo-icon">
          <figure><img src="/assets/images/homepage/conneted-ngo-icon.png" alt=""></figure>
          <h4>1456</h4>
          <p>Connected NGO’S</p>
        </div>
        <div class="col-sm-3 col-6 text-center volunteer-icon mt-4 mt-sm-0">
          <figure><img src="/assets/images/homepage/volunterr-icon.png" alt=""></figure>
          <h4>950</h4>
          <p>Volunteer</p>
        </div>
        <div class="col-sm-3 col-6 text-center volunteer-hour mt-4 mt-sm-0">
          <figure><img src="/assets/images/homepage/volunteer-hour.png" alt=""></figure>
          <h4>500</h4>
          <p>Volunteers Hours</p>
        </div>
      </div>
</div>
</div>
