<!-- <div *ngIf="!notFound">
    <app-ngo-banner-info [profileDetails]="profileDetails"></app-ngo-banner-info>
    <app-ngo-about-tab [profileDetails]="profileDetails"></app-ngo-about-tab>
    <app-ngo-inspiring-stories *ngIf="profileDetails?.stories.length>0" [profileDetails]="profileDetails"></app-ngo-inspiring-stories>
    <app-gallery *ngIf="profileDetails?.images.secondary.length>0" [profileDetails]="profileDetails"></app-gallery>
    <app-similar-ngos [profileDetails]="profileDetails"></app-similar-ngos>
</div>
<div *ngIf="notFound">
  <app-notfound></app-notfound>
</div>
  -->