<section class="media-coverage-wrap">
<h1 class="main-heading text-center">Media Coverage</h1>
<div class="container">
<swiper  [slidesPerView]="1" [spaceBetween]="0" [loop]="true" [navigation]="true">
         <ng-template swiperSlide>
            <div class="media-coverage-item">
               <div class="row">
            <div class="col-md-6 col-12 left-box p-0">
                <figure class="left-box-inner d-flex justify-content-center align-items-center m-0">
                <img src="/assets/images/homepage/media-cov-img.png" class="img-fluid">
            </figure>
                 </div>
                 <div class="col-md-6 col-12 right-box p-0">
                    <div class="right-box-content d-flex  justify-content-center align-items-center">
                    <div>
                        <img src="/assets/images/homepage/aiesec-logo.png" class="img-fluid">
                        <h1>Young Leaders <br>
                            Day 2020</h1>
                            <hr>
                            <p>The founder of Qause, Mr Avneesh Chhabra, 
                                gets candid with Aiesec India on what Qause
                                is about.</p>
                                <button class="read-more">read more</button>
                            </div>
                    </div>
                     </div>
               </div> 
            </div>
         </ng-template>
         <ng-template swiperSlide>
            <div class="media-coverage-item">
               <div class="row">
            <div class="col-md-6 col-12 left-box p-0">
                <figure class="left-box-inner d-flex justify-content-center align-items-center m-0">
                <img src="/assets/images/homepage/media-cov-img.png" class="img-fluid">
            </figure>
                 </div>
                 <div class="col-md-6 col-12 right-box p-0">
                    <div class="right-box-content d-flex  justify-content-center align-items-center">
                    <div>
                        <img src="/assets/images/homepage/aiesec-logo.png" class="img-fluid">
                        <h1>Young Leaders <br>
                            Day 2020</h1>
                            <hr>
                            <p>The founder of Qause, Mr Avneesh Chhabra, 
                                gets candid with Aiesec India on what Qause
                                is about.</p>
                                <button class="read-more">read more</button>
                            </div>
                    </div>
                     </div>
               </div> 
            </div>
         </ng-template>
         
</swiper>
</div>
</section>