body .ui-fileupload .ui-fileupload-buttonbar {
    border: 2px dashed #7b7979;
    background: #f5f6f7;
    display: inline-block;
}
.image-uploaded {
    overflow: hidden;
    position: relative;
    transition: 0.3s linear all;
    /* height: 197px; */
  }
  .upload-image img .upload-image-img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #aaa;
  }
  .pBorder {
    border: 6px solid #f5ad00;
    transition: 0.3s linear all;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .upload-image-img img {
    width: 100%;
  }
  .make-primary-image {
    text-align: center;
    color: #fff !important;
    display: block;
    font-size: 20px !important;
    border: 1px solid #989795;
    padding: 0px 20px;
    margin: 0 auto !important;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s linear all;
    z-index: 1;
    cursor: pointer;
  }
  .upload-image-edit-img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }