<section class="common-fixed pl-3 pr-3 d-flex pt-4 pt-md-5">
  <div class="common-fixed-wrap w-100 m-auto">
    <div class="container-1180">
      <div class="single-logo mx-auto">
        <img src="/assets/images/qause-logo.png" class="img-fluid" alt="Qause" />
      </div>
      <h1 class="fz36 fw700 black-color text-center mb-4">Are You a Believer?</h1>
      <p class="fz24 black-color text-center fw200 line-height-28">If you are reading this, we know that you believe in
        stories, stories that give a new perspective and a way to break into society, the story of Qause is one such
        story that helps you see the other side of the picture and connect with the less fortunate world- a world full
        of dreams, passion, and inspiration.</p>
      <div class="donate-ngo-passion">
        <div class="row">
          <div class="col-md-4 father-wrap donate-your-time">
            <div class="father">
              <div class="front text-center">
                <div class="select-signbox">
                  <img src="assets/images/public/joinus/selectngo1.png" class="img-fluid d-block mx-auto" alt="qause">
                  <h4 class="fw400 orange-color fz32 mb-4">DONATE YOUR TIME</h4>
                  <p class="fz20 fw400 line-height-30">Time is money, right? <br> Volunteer and help our mission!</p>
                </div>
              </div>
              <div class="back d-flex flex-column justify-content-between">
                <div>
                  <span>Continure with Social Media</span>
                  <div class="social-icons d-flex justify-content-center">
                    <a href="" class="fb mr-3"></a>
                    <a href="" class="google ml-3"></a>
                  </div>
                  <button class="common-btn mt-5 mb-5 btn-box-shadow">Sign Up</button>
                </div>
                <div class="back-footer">
                  Already have a account? <button> Log in</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 father-wrap ngo-registration">
            <div class="father">
              <div class="front text-center">
                <div class="select-signbox">
                  <img src="assets/images/public/joinus/selectngo2.png" class="img-fluid d-block mx-auto" alt="qause">
                  <h4 class="fw400 fz32 mb-4">NGO Registration</h4>
                  <p class="fz20 fw400 line-height-30"> 1- Click Signup <br> A free web profile to showcase
                    your efforts to the world.</p>
                </div>
              </div>
              <div class="back d-flex flex-column justify-content-between">
                <div class="my-auto w-100">
                  <button class="common-btn mt-5 mb-5 bg-blue btn-box-shadow" [routerLink]="['/ngo-signup']"
                    routerLinkActive="router-link-active">Sign Up</button>
                </div>
                <div class="back-footer">
                  Already have a account? <button routerLink="/ngo-login"> Log in</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 father-wrap donate-your-time passion-guru">
            <div class="father">
              <div class="front text-center">
                <div class="select-signbox">
                  <img src="assets/images/public/joinus/selectngo3.png" class="img-fluid d-block mx-auto mb-5"
                    alt="qause">
                  <h4 class="fw400  fz32 mb-4 ">Passion guru</h4>
                  <p class="fz20 fw400 line-height-30">Free Online Classes. <br> Enrol. Mentor. Donate.</p>
                </div>
              </div>
              <div class="back d-flex flex-column justify-content-center">
                <div class=" w-100 text-center">
                  <h4>Enrol and Become a Part of our</h4>
                  <h5 class="orange-color fz24 fw700 line-height-26">Free</h5>
                  <h5 class="orange-color fz24 fw700 line-height-26">Online Classes</h5>
                  <button class="common-btn mt-5   btn-box-shadow">visit site</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="uplift text-center">
      <span class="fz24 fw600 black-color">Uplift Humanity</span>
    </footer>
  </div>
</section>
