<div class="payment-failed-modal">
    <div>
      <div class="payment-failed-inner text-center">
        <div>
        <img src="/assets/images/homepage/payment-fail.svg" class="img-fluid">
      </div>
      <h2 class="mt-5">UH-OH!<br>
        WE COULDN'T PROCESS YOUR PAYMENT</h2>
        <p class="mt-5">Unfortunately, we were unable to collect your payment due to card
          failure/ technical issues. </p>
          <h5 class="mt-5">You can click here to change your payment mode or try again with the same method.</h5>
          <button>Change the Payment Method</button>
      </div>
  </div>
  </div>
