
<div class="container">
    <div style="margin: 40px auto;display: block;text-align:center">
        <button pButton type="button" label="Joinus" class="ui-button-raised ui-button-warning"
          routerLink="/joinus/selection/"></button><br /><br />

        <div>
          <h2>{{ 'HOME.title' | translate }}</h2>
          <label>
            {{ 'HOME.select' | translate }}
            <select #langSelect (change)="translate.use(langSelect.value)">
              <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                [selected]="lang === translate.currentLang">{{ lang }}</option>
            </select>
          </label>
        </div>
    </div>
</div>

